.articlePage {
    height: auto;
    max-width: 982px;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
}
.postItem {
    display: flex;
    justify-content: space-between;  
}

.title {
    font-size: 20px;
    color: rgba(24, 144, 255, 1);
margin-right: 10px;
}

.test {
display: flex;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}

.description {
    font-size: 12px;
}

.tag {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-family: Inter Regular;
    margin-top: 8px;
}

.articleDescription {
    margin-right: 80px;
    width: 682px;
    overflow: hidden;
}

.author {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 20px;
    //width: 150px;
}

.info {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.name {
font-size: 18px;
line-height: 28px;
text-align: left;
word-break: break-all;
}

.date {
line-height: 22px;
text-align: left;
color: rgba(0, 0, 0, 0.5);
}

.avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.deleteButton {
    width: 78px;
    height: 32px;
    padding: 5px;
    background: none;
    border: 1px solid rgba(245, 34, 45, 1);
    border-radius: 5px;
    color: rgba(245, 34, 45, 1);
    font-size: 16px; 
}

.editButton {
    width: 78px;
    height: 32px;
    padding: 5px;
    background: none;
    border: 1px solid rgba(82, 196, 26, 1);
    border-radius: 5px;
    color: rgba(82, 196, 26, 1);
    font-size: 16px; 
}