.postItem {
    display: flex;
    background-color: white;
    width: 938px;
    height: 140px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px; 
    padding: 20px 15px;   
}

.postArticle {
    display: flex;
    justify-content: space-between;  
}

.title {
    display: inline-block;
    max-width: 690px;
    font-size: 20px;
    color: rgba(24, 144, 255, 1);
margin-right: 10px;
}

.shortTitle {
    display: inline-block;
    font-size: 20px;
    color: rgba(24, 144, 255, 1);
margin-right: 10px;
text-overflow: ellipsis;
overflow: hidden;
max-width: 550px;
white-space: nowrap;
height: 28px;
}

.test {
display: flex;
}

.shortTagsContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 0px;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}



.likes {
    line-height: 25px;
}

.shortDescription {
    font-size: 12px;
    height: 30px;
    text-overflow: hidden;
    overflow: hidden;
}

.description {
    font-size: 12px;
}

.tag {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-family: Inter Regular;
    margin-top: 8px;
    max-width: 900px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shortArticleDescription {
    margin-right: 80px;
    width: 682px;
    height: 140px;
    overflow: hidden;
}

.articleDescription {
    margin-right: 20px;
    width: 682px;
}

.author {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 150px;
}

.info {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.name {
font-size: 18px;
line-height: 28px;
text-align: left;
word-break: break-all;
}

.date {
line-height: 22px;
text-align: left;
color: rgba(0, 0, 0, 0.5);
}

.avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.heart {
    height: 25px;
}
.heartOutlined {
    height: 25px;
}

.heart svg {
    fill: rgba(255, 7, 7, 1)
}